@mixin gaugecustom{

  .d3-gauge.customstyle{
    font-family: Arial, Helvetica, sans-serif;
  }
  .d3-gauge.customstyle text.minMarkerText, .d3-gauge.customstyle text.minValueText, .d3-gauge.customstyle path.minMarker{
    stroke: #0091B2;
    fill:  #0091B2;
    opacity: 0.50;
  }

  .d3-gauge.customstyle text.avgMarkerText, .d3-gauge.customstyle text.avgValueText, .d3-gauge.customstyle path.avgMarker{
    stroke: #E82DFF;
    fill:  #E82DFF;
    opacity: 0.50;
  }

  .d3-gauge.customstyle text.maxMarkerText, .d3-gauge.customstyle text.maxValueText, .d3-gauge.customstyle path.maxMarker{
    stroke: #FF8314;
    fill:  #FF8314;
    opacity: 0.50;
  }
  .d3-gauge.customstyle path.zones{
    opacity: 1.0;
  }
  .d3-gauge.customstyle path.greenZone{
    fill: #109618;
  }
  .d3-gauge.customstyle path.yellowZone{
    fill: #FF9900;
  }
  .d3-gauge.customstyle path.redZone{
    fill: #DC3912;
  }
  .d3-gauge.customstyle line.minorTick{
    stroke: #666;
    stroke-width: 1px;
  }
  .d3-gauge.customstyle line.majorTick{
    stroke: #333;
    stroke-width: 2px;
  }
  .d3-gauge.customstyle text.lowerBoundLabel{
    fill: #333;
    stroke-width: 0px;
  }
  .d3-gauge.customstyle text.upperBoundLabel{
    fill: #333;
    stroke-width: 0px;
  }
  .d3-gauge.customstyle text.currentValueLabel{
    stroke: #FFFFFF;
    fill: #000000;
    stroke-width: 0px;
    opacity: 1.0;
  }
  .d3-gauge.customstyle text.minValueLabel{
    stroke: #FFFFFF;
    fill: #000000;
    stroke-width: 0px;
    opacity: 1.0;
  }
  .d3-gauge.customstyle text.avgValueLabel{
    stroke: #FFFFFF;
    fill: #000000;
    stroke-width: 0px;
    opacity: 1.0;
  }
  .d3-gauge.customstyle text.maxValueLabel{
    stroke: #FFFFFF;
    fill: #000000;
    stroke-width: 0px;
    opacity: 1.0;
  }
  .d3-gauge.customstyle text.gaugeLabel{
    fill: #333;
    stroke-width: 0px;
  }
  .d3-gauge.customstyle circle.outerRing{
    fill: #FFF;
    stroke-width: 0.5px;
    stroke: #000;
    opacity: 1.0;
  }
  .d3-gauge.customstyle circle.innerCircle{
    fill: #fff;
    stroke-width: 2px;
    stroke: #4684EE;
    opacity: 1.0;
  }
  .d3-gauge.customstyle text.currentValue{
    fill: #000;
    stroke-width: 0px;
    opacity: 1;
  }
  .d3-gauge.customstyle path.dialPointer{
    fill: #dc3912;
    stroke: #c63310;
    fill-opacity: 0.7;
  }
  .d3-gauge.customstyle circle.dialButton{
    fill: #4684EE;
    stroke: #666;
    opacity: 1.0;
  }
}






.d3-gauge.dark{
    font-family: Arial, Helvetica, sans-serif;
}
.d3-gauge.dark text.minMarkerText, .d3-gauge.dark text.minValueText, .d3-gauge.dark path.minMarker{
    stroke: #78B753;
    fill:  #78B753;
    opacity: 0.50;
}

.d3-gauge.dark text.avgMarkerText, .d3-gauge.dark text.avgValueText, .d3-gauge.dark path.avgMarker{
    stroke: #C0A25F;
    fill:  #C0A25F;
    opacity: 0.50;
}

.d3-gauge.dark text.maxMarkerText, .d3-gauge.dark text.maxValueText, .d3-gauge.dark path.maxMarker{
    stroke: #E85848;
    fill:  #E85848;
    opacity: 0.50;
}
.d3-gauge.dark path.zones{
    opacity: 1.0;
}
.d3-gauge.dark path.greenZone{
    fill: #ddd;
}
.d3-gauge.dark path.yellowZone{
    fill: #888;
}
.d3-gauge.dark path.redZone{
    fill: #666;
}
.d3-gauge.dark line.minorTick{
    stroke: #777;
    stroke-width: 1px;
}
.d3-gauge.dark line.majorTick{
    stroke: #888;
    stroke-width: 2px;
}
.d3-gauge.dark text.lowerBoundLabel{
    fill: #F0F0F0;
    stroke-width: 0px;
}
.d3-gauge.dark text.upperBoundLabel{
    fill: #F0F0F0;
    stroke-width: 0px;
}
.d3-gauge.dark text.currentValueLabel{
    fill: #B4B4B4;
    stroke-width: 0px;
    opacity: 1.0;
}
.d3-gauge.dark text.minValueLabel{
    fill: #B4B4B4;
    stroke-width: 0px;
    opacity: 1.0;
}
.d3-gauge.dark text.avgValueLabel{
    fill: #B4B4B4;
    stroke-width: 0px;
    opacity: 1.0;
}
.d3-gauge.dark text.maxValueLabel{
    fill: #B4B4B4;
    stroke-width: 0px;
    opacity: 1.0;
}
.d3-gauge.dark text.gaugeLabel{
    fill: #B4B4B4;
    stroke-width: 0px;
}
.d3-gauge.dark circle.outerRing{
    fill: #323232;
    stroke-width: 0.5px;
    stroke: #000;
    opacity: 1.0;
}
.d3-gauge.dark circle.innerCircle{
    fill: #3C3C3C;
    stroke-width: 2px;
    stroke: #E0E0E0;
    opacity: 1.0;
}
.d3-gauge.dark text.currentValue{
    fill: #fff;
    stroke-width: 0px;
    opacity: 1;
}
.d3-gauge.dark path.dialPointer{
    fill: #888;
    stroke: #555;
    fill-opacity: 0.7;
}
.d3-gauge.dark circle.dialButton{
    fill: #444;
    stroke: #666;
    opacity: 1.0;
}




.d3-gauge.default{
    font-family: Arial, Helvetica, sans-serif;
}
.d3-gauge.default text.minMarkerText, .d3-gauge.default text.minValueText, .d3-gauge.default path.minMarker{
	stroke: #0091B2;
	fill:  #0091B2;
	opacity: 0.50;
}

.d3-gauge.default text.avgMarkerText, .d3-gauge.default text.avgValueText, .d3-gauge.default path.avgMarker{
	stroke: #E82DFF;
	fill:  #E82DFF;
	opacity: 0.50;
}

.d3-gauge.default text.maxMarkerText, .d3-gauge.default text.maxValueText, .d3-gauge.default path.maxMarker{
	stroke: #FF8314;
	fill:  #FF8314;
	opacity: 0.50;
}
.d3-gauge.default path.zones{
	opacity: 1.0;
}
.d3-gauge.default path.greenZone{
	fill: #FFFFFF;
}
.d3-gauge.default path.yellowZone{
	fill: #FF9900;
}
.d3-gauge.default path.redZone{
	fill: #DC3912;
}
.d3-gauge.default line.minorTick{
	stroke: #666;
	stroke-width: 1px;
}
.d3-gauge.default line.majorTick{
	stroke: #333;
	stroke-width: 2px;
}
.d3-gauge.default text.lowerBoundLabel{
	fill: #333;
	stroke-width: 0px;
}
.d3-gauge.default text.upperBoundLabel{
	fill: #333;
	stroke-width: 0px;
}
.d3-gauge.default text.currentValueLabel{
	stroke: #FFFFFF;
	fill: #000000;
	stroke-width: 0px;
	opacity: 1.0;
}
.d3-gauge.default text.minValueLabel{
	stroke: #FFFFFF;
	fill: #000000;
	stroke-width: 0px;
	opacity: 1.0;
}
.d3-gauge.default text.avgValueLabel{
	stroke: #FFFFFF;
	fill: #000000;
	stroke-width: 0px;
	opacity: 1.0;
}
.d3-gauge.default text.maxValueLabel{
	stroke: #FFFFFF;
	fill: #000000;
	stroke-width: 0px;
	opacity: 1.0;
}
.d3-gauge.default text.gaugeLabel{
	fill: #333;
	stroke-width: 0px;
}
.d3-gauge.default circle.outerRing{
	fill: #ccc;
	stroke-width: 0.5px;
	stroke: #000;
	opacity: 1.0;
}
.d3-gauge.default circle.innerCircle{
	fill: #fff;
	stroke-width: 2px;
	stroke: #e0e0e0;
	opacity: 1.0;
}
.d3-gauge.default text.currentValue{
	fill: #000;
	stroke-width: 0px;
	opacity: 1;
}
.d3-gauge.default path.dialPointer{
	fill: #dc3912;
	stroke: #c63310;
	fill-opacity: 0.7;
}
.d3-gauge.default circle.dialButton{
	fill: #4684EE;
	stroke: #666;
	opacity: 1.0;
}




.d3-gauge.light{
    font-family: Arial, Helvetica, sans-serif;
}
.d3-gauge.light text.minMarkerText, .d3-gauge.light text.minValueText, .d3-gauge.light path.minMarker{
    stroke: #0091B2;
    fill:  #0091B2;
    opacity: 0.50;
}

.d3-gauge.light text.avgMarkerText, .d3-gauge.light text.avgValueText, .d3-gauge.light path.avgMarker{
    stroke: #E82DFF;
    fill:  #E82DFF;
    opacity: 0.50;
}

.d3-gauge.light text.maxMarkerText, .d3-gauge.light text.maxValueText, .d3-gauge.light path.maxMarker{
    stroke: #FF8314;
    fill:  #FF8314;
    opacity: 0.50;
}
.d3-gauge.light path.zones{
    opacity: 0.3;
}
.d3-gauge.light path.greenZone{
    fill: #109618;
}
.d3-gauge.light path.yellowZone{
    fill: #FF9900;
}
.d3-gauge.light path.redZone{
    fill: #DC3912;
}
.d3-gauge.light line.minorTick{
    stroke: #666;
    stroke-width: 1px;
}
.d3-gauge.light line.majorTick{
    stroke: #333;
    stroke-width: 2px;
}
.d3-gauge.light text.lowerBoundLabel{
    fill: #333;
    stroke-width: 0px;
}
.d3-gauge.light text.upperBoundLabel{
    fill: #333;
    stroke-width: 0px;
}
.d3-gauge.light text.currentValueLabel{
    stroke: #FFFFFF;
    fill: #000000;
    stroke-width: 0px;
    opacity: 1.0;
}
.d3-gauge.light text.minValueLabel{
    stroke: #FFFFFF;
    fill: #000000;
    stroke-width: 0px;
    opacity: 1.0;
}
.d3-gauge.light text.avgValueLabel{
    stroke: #FFFFFF;
    fill: #000000;
    stroke-width: 0px;
    opacity: 1.0;
}
.d3-gauge.light text.maxValueLabel{
    stroke: #FFFFFF;
    fill: #000000;
    stroke-width: 0px;
    opacity: 1.0;
}
.d3-gauge.light text.gaugeLabel{
    fill: #333;
    stroke-width: 0px;
}
.d3-gauge.light circle.outerRing{
    fill: #ccc;
    stroke-width: 0.5px;
    stroke: #000;
    opacity: 0.0;
}
.d3-gauge.light circle.innerCircle{
    fill: #fff;
    stroke-width: 2px;
    stroke: #e0e0e0;
    opacity: 0.0;
}
.d3-gauge.light text.currentValue{
    fill: #000;
    stroke-width: 0px;
    opacity: 1.0;
}
.d3-gauge.light path.dialPointer{
    fill: #dc3912;
    stroke: #c63310;
    opacity: 0.6;
}
.d3-gauge.light circle.dialButton{
    fill: #4684EE;
    stroke: #666;
    opacity: 0.3;
}


.d3-gauge.valo{
    font-family:  Arial, Helvetica, sans-serif;
}
.d3-gauge.valo text.minMarkerText, .d3-gauge.valo text.minValueText, .d3-gauge.valo path.minMarker{
    stroke: #95c87c;
    fill:  #95c87c;
    opacity: 0.50;
}

.d3-gauge.valo text.avgMarkerText, .d3-gauge.valo text.avgValueText, .d3-gauge.valo path.avgMarker{
    stroke: #0091B2;
    fill:  #0091B2;
    opacity: 0.50;
}

.d3-gauge.valo text.maxMarkerText, .d3-gauge.valo text.maxValueText, .d3-gauge.valo path.maxMarker{
    stroke: #fe902a;
    fill:  #fe902a;
    opacity: 0.50;
}
.d3-gauge.valo path.zones{
    opacity: 1.0;
}
.d3-gauge.valo path.greenZone{
    fill: #26881B;
}
.d3-gauge.valo path.yellowZone{
    fill: #166ED5;
}
.d3-gauge.valo path.redZone{
    fill: #e13e33;
}
.d3-gauge.valo line.minorTick{
    stroke: #666;
    stroke-width: 1px;
}
.d3-gauge.valo line.majorTick{
    stroke: #333;
    stroke-width: 2px;
}
.d3-gauge.valo text.lowerBoundLabel{
    fill: #333;
    stroke-width: 0px;
}
.d3-gauge.valo text.upperBoundLabel{
    fill: #333;
    stroke-width: 0px;
}
.d3-gauge.valo text.currentValueLabel{
    stroke: #FFFFFF;
    fill: #000000;
    stroke-width: 0px;
    opacity: 1.0;
}
.d3-gauge.valo text.minValueLabel{
    stroke: #FFFFFF;
    fill: #000000;
    stroke-width: 0px;
    opacity: 1.0;
}
.d3-gauge.valo text.avgValueLabel{
    stroke: #FFFFFF;
    fill: #000000;
    stroke-width: 0px;
    opacity: 1.0;
}
.d3-gauge.valo text.maxValueLabel{
    stroke: #FFFFFF;
    fill: #000000;
    stroke-width: 0px;
    opacity: 1.0;
}
.d3-gauge.valo text.gaugeLabel{
    fill: #333;
    stroke-width: 0px;
}
.d3-gauge.valo circle.outerRing{
    fill: #ccc;
    stroke-width: 0.5px;
    stroke: #000;
    opacity: 0.0;
}
.d3-gauge.valo circle.innerCircle{
    fill: #fff;
    stroke-width: 2px;
    stroke: #e0e0e0;
    opacity: 0.0;
}
.d3-gauge.valo text.currentValue{
    fill: #000;
    stroke-width: 0px;
    opacity: 1;
}
.d3-gauge.valo path.dialPointer{
    fill: #EE4C3F;
    stroke: #BB382E;
    fill-opacity: 0.7;
}
.d3-gauge.valo circle.dialButton{
    fill: #1B87E3;
    stroke: #1362B1;
    opacity: 1.0;
}