@import "mytheme.scss";
@import "addons.scss";

// This should be in the Valo theme as a shorthand
$v-layout-margin: $v-layout-margin-top $v-layout-margin-right $v-layout-margin-bottom $v-layout-margin-left !default;

// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in mytheme.scss

.mytheme {
  @include addons;
  @include mytheme;

.login-screen .login-information {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 100%;
	padding: 21px 21px 21px 21px;
	background: #3b3f42;
	-webkit-animation: valo-animate-in-fade 1s 1s backwards;
	-moz-animation: valo-animate-in-fade 1s 1s backwards;
	animation: valo-animate-in-fade 1s 1s backwards;
	border-radius: 10px;
	border: 1px solid #303739;
	
	
}
.login-screen .login-information h1 {
	color: inherit;
	text-align: center;
}

.login-screen .centering-layout {
	display: inline-block;
	width: 100%;
	height: 100%;
	padding-left: 300px;	
}

.login-screen .centering-layout .v-slot {
	height: 100%;
}

.login-screen {
	background: #3b3f42;
	background-size: cover;
	background-position: 50% 50%;
	width: 100%;
	height: 100%;
}

  .labelRango{
   	font-size: 20px;
   	text-align: right;
   	font-weight: bold;
   	margin-top: 5px;
   	margin-bottom: 5px;
   	color: white;
   }

.logo {
	background: #3f484a;
	color: #c8ccce;
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.05), inset 0 0 0 3px rgba(0, 0, 0, 0.32), inset 0 1px 0 3px rgba(255, 255, 255, 0.14);
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.05), inset 0 0 0 3px rgba(0, 0, 0, 0.32), inset 0 1px 0 3px rgba(255, 255, 255, 0.14);
	border-radius: 10px;
	border: 1px solid #303739;
	}

.logoMenu {
	background: #3f484a;
	color: #c8ccce;
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.05), inset 0 0 0 3px rgba(0, 0, 0, 0.32), inset 0 1px 0 3px rgba(255, 255, 255, 0.14);
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.05), inset 0 0 0 3px rgba(0, 0, 0, 0.32), inset 0 1px 0 3px rgba(255, 255, 255, 0.14);
	border-radius: 10px;
	border: 1px solid #303739;

	
	}

.logoInicial {
	background: #3f484a;
	color: #c8ccce;
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.05), inset 0 0 0 3px rgba(0, 0, 0, 0.32), inset 0 1px 0 3px rgba(255, 255, 255, 0.14);
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.05), inset 0 0 0 3px rgba(0, 0, 0, 0.32), inset 0 1px 0 3px rgba(255, 255, 255, 0.14);
	border-radius: 10px;
	border: 1px solid #303739;
	margin-top: 25px;
	}

 .v-optionGroup{
 	margin-left: 5px;
   } 
   
 .combo{
   margin-left: 5px;
   }
   
 .v-caption {
    color:white;
  }   
   
 .v-fecha{
   margin-left: 5px;
   }
.v-datefield [class*="button"]{

}   
 .v-datefield [class*="textfield"]{
	margin: 0px;
	padding-left: 50px;
		
 }
 .v-etiqueta{
   margin-left: 5px;
   font-size: 10px;
   }
   
 .v-Notification{
	border: 4px solid #07a9ca;
    background: white;
    color: black;    
    font-weight: bold; 	
	}
	
 .v-Notification.mystyleInfo{ 		
	}
	
 .v-Notification.mystyleWarning {
	}
	
 .v-Notification.mystyleError {
    }


  .v-panelOpciones .v-caption{
  	margin-top:10px;
  	text-align: center;	
	}
	
  .scrollable {
  	overflow: auto;
	}
	 
  .v-panelPeticion {
	margin-left:10px;
	overflow: auto;
	}

  .v-panelTabla {
	overflow: auto;
	}
	
  .labelPanel {
   	font-size: 20px;
   	text-align: center;
   	font-weight: bold;
   	margin-top: 5px;
   	margin-left: 5px;      
   	color: white;
   }
   
  .v-panelTitulo {
  	//background: white;
	//border: 1px solid inherit;
	margin-top:10px;	
    margin-left:10px;
    margin-right:10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    }
  .v-panelTituloSemaforo {
  	background: white;
	border: 1px solid inherit;
	margin-top:10px;	
    margin-left:10px;
    margin-right:10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    }
    
.botonTop { 
   margin-top: 10px;
   }

.labelTitulo { 
   text-align: center;
   font-weight: bold;
   color:lightGrey;   
   text-shadow: 5px 1px black;   	
   }

.labelLogin {    
   text-align: center;
   font-weight: bold;
   color:lightGrey;   
   text-shadow: 5px 1px black;   	
   }
	
  .labelTituloVentas {
   	font-size: 1.2vw;
   	text-align: center;
   	font-weight: bold;
   	margin-top: 0.5%;
   	color:lightGrey;   
   	text-shadow: 5px 1px black;   	
   }

    

.mytheme .product-form-wrapper .v-textfield {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	margin: 0;
	font: inherit;
	
	font-weight: 400;
	line-height: normal;
	height: 40px;
	border-radius: 10px;
	padding: 4px 11px;
	border: 1px solid #212426;
	background: #2f3235;
	color: #c3c6c8;
	-webkit-box-shadow: inset 0 2px 2px #2c2f31, 0 0 0 3px rgba(0, 0, 0, 0.32), 0 1px 0 3px rgba(255, 255, 255, 0.14);
	box-shadow: inset 0 2px 2px #2c2f31, 0 0 0 3px rgba(0, 0, 0, 0.32), 0 1px 0 3px rgba(255, 255, 255, 0.14);
	-webkit-transition: box-shadow 180ms, border 180ms;
	-moz-transition: box-shadow 180ms, border 180ms;
	transition: box-shadow 180ms, border 180ms;
}

.v-ie8 .mytheme .product-form-wrapper .v-textfield, .v-ie9 .mytheme .product-form-wrapper .v-textfield {
	line-height: 40px;
	padding-top: 0;
	padding-bottom: 0;
}

.mytheme .product-form-wrapper .v-textfield.v-disabled {
	opacity: 0.5;
	filter: alpha(opacity=50) ;
}

.mytheme .product-form-wrapper .v-textfield:focus {
	outline: none;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	-webkit-box-shadow: 0 0 3px 2px #07a9ca, inset 0 2px 2px #2c2f31, 0 0 0 3px rgba(0, 0, 0, 0.32), 0 1px 0 3px rgba(255, 255, 255, 0.14);
	box-shadow: 0 0 3px 2px #07a9ca, inset 0 2px 2px #2c2f31, 0 0 0 3px rgba(0, 0, 0, 0.32), 0 1px 0 3px rgba(255, 255, 255, 0.14);
	-webkit-box-shadow: 0 0 3px 2px #07a9ca;
	box-shadow: 0 0 3px 2px #07a9ca;
}

.mytheme .product-form-wrapper .v-textfield[class*="prompt"] {
	color: #777c80;
}

.mytheme .product-form-wrapper .v-checkbox {
	position: relative;
	line-height: 20px;
	white-space: nowrap;
}

.mytheme .product-form-wrapper .v-checkbox.v-has-width label {
	white-space: normal;
}

:root .mytheme .product-form-wrapper .v-checkbox {
	padding-left: 27px;
}

:root .mytheme .product-form-wrapper .v-checkbox label {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	cursor: pointer;
	display: inline-block;
}

:root .mytheme .product-form-wrapper .v-checkbox > input {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	left: 0.2em;
	top: 0.2em;
	z-index: 0;
	margin: 0;
}

:root .mytheme .product-form-wrapper .v-checkbox > input:focus ~ label:before {
	border: 1px solid #3b4042;
	-webkit-box-shadow: 0 0 3px 2px #07a9ca;
	box-shadow: 0 0 3px 2px #07a9ca;
	-webkit-box-shadow: 0 0 3px 2px #07a9ca, inset 0 1px 2px #7c7c7c, inset 0 0 1px #65656a, 0 0 0 3px rgba(0, 0, 0, 0.32), 0 1px 0 3px rgba(255, 255, 255, 0.14);
	box-shadow: 0 0 3px 2px #07a9ca, inset 0 1px 2px #7c7c7c, inset 0 0 1px #65656a, 0 0 0 3px rgba(0, 0, 0, 0.32), 0 1px 0 3px rgba(255, 255, 255, 0.14);
}

:root .mytheme .product-form-wrapper .v-checkbox > input ~ label:before, :root .mytheme .product-form-wrapper .v-checkbox > input ~ label:after {
	content: "";
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 7px;
	font-size: 12px;
	text-align: center;
}

:root .mytheme .product-form-wrapper .v-checkbox > input ~ label:before {
	height: 20px;
	padding: 0 10px;
	color: #eeeeef;
	font-weight: 500;
	
	
	border-radius: 7px;
	border: 1px solid #303739;
	border-top-color: #363d40;
	border-bottom-color: #272c2e;
	background-color: #53595d;
	background-image: -webkit-linear-gradient(top, #5c6368 2%, #44494c 98%);
	background-image: linear-gradient(to bottom,#5c6368 2%, #44494c 98%);
	-webkit-box-shadow: inset 0 1px 2px #7c7c7c, inset 0 0 1px #65656a, 0 0 0 3px rgba(0, 0, 0, 0.32), 0 1px 0 3px rgba(255, 255, 255, 0.14);
	box-shadow: inset 0 1px 2px #7c7c7c, inset 0 0 1px #65656a, 0 0 0 3px rgba(0, 0, 0, 0.32), 0 1px 0 3px rgba(255, 255, 255, 0.14);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
	padding: 0;
	height: 20px;
}

:root .mytheme .product-form-wrapper .v-checkbox > input ~ label:after {
	content: "\f00c";
	font-family: ThemeIcons;
	color: transparent;
	-webkit-transition: color 100ms;
	-moz-transition: color 100ms;
	transition: color 100ms;
}

:root .mytheme .product-form-wrapper .v-checkbox > input:active ~ label:after {
	background-color: rgba(39, 45, 49, 0.2);
}

:root .mytheme .product-form-wrapper .v-checkbox > input:checked ~ label:after {
	color: #07a9ca;
}

.mytheme .product-form-wrapper .v-checkbox > .v-icon, .mytheme .product-form-wrapper .v-checkbox > label .v-icon {
	margin: 0 7px 0 3px;
	min-width: 1em;
	cursor: pointer;
}

.mytheme .product-form-wrapper .v-checkbox.v-disabled  > label, .mytheme .product-form-wrapper .v-checkbox.v-disabled  > .v-icon {
	cursor: default;
	opacity: 0.5;
	filter: alpha(opacity=50) ;
}

.mytheme .product-form-wrapper .v-checkbox.v-disabled  > label > .v-icon {
	cursor: default;
}

:root .mytheme .product-form-wrapper .v-checkbox.v-disabled > input:active ~ label:after {
	background: transparent;
}

.mytheme .product-form-wrapper .v-checkbox.v-readonly  > label, .mytheme .product-form-wrapper .v-checkbox.v-readonly  > .v-icon {
	cursor: default;
}

.mytheme .product-form-wrapper .v-checkbox.v-readonly  > label > .v-icon {
	cursor: default;
}

:root .mytheme .product-form-wrapper .v-checkbox.v-readonly > input:active ~ label:after {
	background: transparent;
}

:root .mytheme .product-form-wrapper .v-checkbox.v-readonly > input ~ label:after {
	opacity: 0.5;
	filter: alpha(opacity=50) ;
}

.mytheme .product-form-wrapper .v-filterselect {
	height: 40px;
	border-radius: 10px;
}

.mytheme .product-form-wrapper .v-filterselect [class*="input"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	margin: 0;
	font: inherit;
	
	font-weight: 400;
	line-height: normal;
	height: 40px;
	border-radius: 10px;
	padding: 4px 11px;
	border: 1px solid #2a2d2f;
	background-color: #53595d;
	background-image: -webkit-linear-gradient(top, #5c6368 2%, #44494c 98%);
	background-image: linear-gradient(to bottom,#5c6368 2%, #44494c 98%);
	color: #cfd0d2;
	-webkit-box-shadow: inset 0 1px 2px #7c7c7c, inset 0 0 1px #65656a, 0 0 0 3px rgba(0, 0, 0, 0.32), 0 1px 0 3px rgba(255, 255, 255, 0.14);
	box-shadow: inset 0 1px 2px #7c7c7c, inset 0 0 1px #65656a, 0 0 0 3px rgba(0, 0, 0, 0.32), 0 1px 0 3px rgba(255, 255, 255, 0.14);
	-webkit-transition: box-shadow 180ms, border 180ms;
	-moz-transition: box-shadow 180ms, border 180ms;
	transition: box-shadow 180ms, border 180ms;
	width: 100% !important;
	height: 100%;
	padding-right: 41px;
	border-radius: inherit;
}

.v-ie8 .mytheme .product-form-wrapper .v-filterselect [class*="input"], .v-ie9 .mytheme .product-form-wrapper .v-filterselect [class*="input"] {
	line-height: 40px;
	padding-top: 0;
	padding-bottom: 0;
}

.mytheme .product-form-wrapper .v-filterselect [class*="input"].v-disabled {
	opacity: 0.5;
	filter: alpha(opacity=50) ;
}

.mytheme .product-form-wrapper .v-filterselect [class*="input"]:focus {
	outline: none;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	-webkit-box-shadow: 0 0 3px 2px #07a9ca, inset 0 1px 2px #7c7c7c, inset 0 0 1px #65656a, 0 0 0 3px rgba(0, 0, 0, 0.32), 0 1px 0 3px rgba(255, 255, 255, 0.14);
	box-shadow: 0 0 3px 2px #07a9ca, inset 0 1px 2px #7c7c7c, inset 0 0 1px #65656a, 0 0 0 3px rgba(0, 0, 0, 0.32), 0 1px 0 3px rgba(255, 255, 255, 0.14);
	-webkit-box-shadow: 0 0 3px 2px #07a9ca;
	box-shadow: 0 0 3px 2px #07a9ca;
}

.mytheme .product-form-wrapper .v-filterselect [class*="input"][class*="prompt"] {
	color: #8e949a;
}

.mytheme .product-form-wrapper .v-filterselect .v-icon + [class*="input"] {
	padding-left: 40px;
}

.mytheme .product-form-wrapper .v-filterselect img.v-icon {
	max-height: 40px;
	margin-left: 11px;
}

.mytheme .product-form-wrapper .v-filterselect span.v-icon {
	color: #cfd0d2;
	width: 40px;
	line-height: 1;
	padding-top: 0.12em;
}

.mytheme .product-form-wrapper .v-filterselect[class*="prompt"] > [class*="input"] {
	color: #8e949a;
}

.mytheme .product-form-wrapper .v-filterselect [class$="button"] {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	cursor: pointer;
	position: absolute;
	width: 40px;
	top: 1px;
	right: 1px;
	bottom: 1px;
	border-left: 1px solid #474c4f;
	color: #919497;
	border-radius: 0 9px 9px 0;
}

.v-ie8 .mytheme .product-form-wrapper .v-filterselect [class$="button"] {
	background-color: #53595d;
}

.mytheme .product-form-wrapper .v-filterselect [class$="button"]:before {
	font-family: ThemeIcons;
	content: "\f078";
	-webkit-transition: color 140ms;
	-moz-transition: color 140ms;
	transition: color 140ms;
	position: absolute;
	width: 40px;
	text-align: center;
	top: 50%;
	line-height: 1;
	margin-top: -0.47em;
}

.mytheme .product-form-wrapper .v-filterselect [class$="button"]:hover:before {
	color: #cfd0d2;
}

.mytheme .product-form-wrapper .v-filterselect [class$="button"]:active:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: inherit;
	background-color: rgba(39, 45, 49, 0.2);
}

.mytheme .product-form-wrapper .v-filterselect.v-disabled {
	opacity: 0.5;
	filter: alpha(opacity=50) ;
}

.mytheme .product-form-wrapper .v-filterselect.v-disabled [class$="button"] {
	cursor: default;
	pointer-events: none;
}

.mytheme .product-form-wrapper .v-filterselect.v-disabled [class$="button"]:active:after {
	display: none;
}

.mytheme .product-form-wrapper .v-filterselect.v-readonly [class*="input"] {
	background: #363d3f;
	color: #c5c9cb;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.mytheme .product-form-wrapper .v-filterselect.v-readonly [class*="input"]:focus {
	box-shadow: none;
	border-color: #262b2d;
}

.mytheme .product-form-wrapper .v-filterselect.v-readonly [class$="button"] {
	cursor: default;
	pointer-events: none;
}

.mytheme .product-form-wrapper .v-filterselect.v-readonly [class$="button"]:active:after {
	display: none;
}

.mytheme .product-form-wrapper .v-button {
	display: block;
}

.mytheme .product-form-wrapper .v-caption {
	color: #9b9fa3;
}

.mytheme .product-form-wrapper .form-layout > .v-expand > .v-slot:last-child {
	padding-bottom: 18px;
}

.mytheme .product-form {
	right: 0;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	-webkit-transform: translatex(100%);
	-moz-transform: translatex(100%);
	-ms-transform: translatex(100%);
	-o-transform: translatex(100%);
	transform: translatex(100%);
}

}


